.korobka{
    height: 68vh;
    margin: 15px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.korobka1{
    height: 110vh;
    margin: 15px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.korobka2{
    height: 10vh;
    margin: 40px;
    width: 1500%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    background-color: #f7f7f7;
    display: flex;
    color: #638889;
    height: 99vh;
}
.hero1{
    background-color: #f7f7f7;
    display: flex;
    color: #638889;
    align-items: center;
    padding: 0 50px;
    height: 40px;
}
h1{
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-size: 100px;
    margin: 15px 0 15px 0;
}
h2{
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    margin: 0;
}
img{
    z-index: 2;
    width: 500%;
    margin: 0 -36px 0 70px;
}
.logo1{
    text-decoration: none;
    margin: 0;
    font-family: "Kanit", sans-serif;
    color: black;
    font-size: 30px;
    margin: 0 50px 0 50px;
    font-weight: bold;
}
.logo2{
    margin: 0;
    font-family: "Kanit", sans-serif;
    color: black;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 50px 0 50px;
}
.prizrak{
    width: 80px;
    position: absolute;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100px;
}
.logo{
    margin: 0;
    font-family: "Kanit", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 50px;
    margin: 0 50px 0 50px;
}
.link{
    text-decoration: none;
    font-size: 20px;
    margin: 0 0 0 50px;
}
.krug{
    z-index: 1;
    top: 140px;
    left: calc(50% + 50px);
    position: absolute;
    width: 690px;
    height: 690px;
    background: #414a4a;
    background: linear-gradient(60deg, rgb(210, 210, 210) 0%, #4c5e5e 100%);
    border-radius: 100%;   
}
.text{
    height: 300px;
    text-align: center;
}
.gzho{
    height: 20%;

}
.img1{
    z-index: 2;
    width: 3.8%;
    margin: 0 -50px 0 160px;
    position: absolute;
    top: 47%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}
